{% extends "theme.html" %}


{% block head %}
  {{ super() }}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block app_content%}
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

div > a {
  text-decoration: none;
  font-size: 22px;
}

.block {
  display: block;
  width: auto;
  border: none;
  background-color: #4CAF50;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

button:hover, a:hover {
  opacity: 0.7;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;

}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 2%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

</style>

<div class="flex-container">
  	{%for mentor in mentors%}

      <div class="card">
        <img src="../static/images/views.jpeg" alt="John" style="width:100%">
        <h3>{{mentor.username}}</h3>
        <p class="title">Role of the person</p>
        <p>Harvard University</p>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <p><a href="{{url_for('user',username=mentor.username)}}" type="button" class="btn btn-default" class="block" >See Profile</a></p>
      </div>
  	{% endfor %}
</div>

{% endblock%}
