{% extends "theme.html" %}

{% block head %}
	{{super()}}
	<style>
		
	</style>
{% endblock %}


{% block app_content %}
	
	<div class="container" style="width:80% ; heigh:100%; ">
		 <div class="col-md-10 blogShort" style=" padding: 10px;  box-shadow:3px 3px 5px 6px #ccc;">
                     <h1><u>Headline of the article</u></h1>
                    
                     <article><p style="font-size: 20px">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only   
                         It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum. </p>
                         
                         <img src="../static/images/news.jpg" alt="article img" style="width:100%" class="pull-left img-responsive thumb margin10 img-thumbnail">
                         <p style="font-size: 20px">
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only   
                         It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum. 
                         </p></article>
         </div>

	</div>

{% endblock %}