{% extends "theme.html" %}
{%import "bootstrap/wtf.html" as wtf%}

{% block app_content%}

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-8" ></div>

    <div class="col-sm-4" >
			<div class="list-group">
				  <a href="" class="list-group-item list-group-item-action">Techonology <span style="background-color: red" class="badge">12</span></a>
				  <a href="" class="list-group-item list-group-item-action">Education<span style="back"class="badge">5</span></a>
				  <a href="" class="list-group-item list-group-item-action">Agriculture<span style="back"class="badge">3</span></a>
				  <a href="" class="list-group-item list-group-item-action">Automobile<span style="back"class="badge">1</span></a>
				  <a href="" class="list-group-item list-group-item-action">Aerospace<span style="back"class="badge">50</span></a>
				  <a href="" class="list-group-item list-group-item-action">Telecommunication<span style="back"class="badge">0</span></a>
			</div>
  	</div>

  </div>
</div>


{% endblock%}