{% extends "theme.html" %}

{% block head%}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="../static/css/news.css"></link>
{% endblock %}

{% block app_content%}

<div class="container">


	 <div id="blog" class="row"> s
                
                    <div class="col-sm-2 paddingTop20" style="height: 100%">
                        <nav class="nav-sidebar">
                            <ul class="nav">
                                <li class="active"><a href="">Agriculture</a></li>
                                <li><a href="">Technology</a></li>
                                <li><a href="">Education</a></li>
                                <li><a href="">Bussiness</a></li>
                                <li><a href="">Travel & Tourism</a></li>
                                <li><a href="">Sports & fitness</a></li>
                                <li><a href="">Health care</a></li>
                                <li class="nav-divider"></li>
                            </ul>
                        </nav>
                    </div>                

                 <div class="col-md-9 blogShort" style="box-shadow:3px 3px 3px 3px #ccc;">
                     <h1>Title</h1>
                     <img src="../static/images/news.jpg" alt="article img" style="height: 180px; width:200px;" class="pull-left img-responsive thumb margin10 img-thumbnail">
                     
                         <em><h3><a href="{{url_for('morenews')}}">Headline of the article</h3></a></em>
                     <article><p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only   
                         It was popularised in the 1960s with the release
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="{{url_for('morenews')}}">read more</a> 
                 </div>
                
                <div class="col-md-9 blogShort" style=" box-shadow:3px 3px 3px 3px #ccc; top-margin:5px">
                     <h1>Title</h1>
                     <img src="../static/images/news.jpg" alt="article img" style="height: 180px; width:200px;" class="pull-left img-responsive thumb margin10 img-thumbnail">
                     
                         <em><h3><a href="{{url_for('morenews')}}">Headline of the article</h3></a></em>
                     <article><p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only   
                         It was popularised in the 1960s with the release
                         of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                         Lorem Ipsum. 
                         </p></article>
                     <a class="btn btn-blog pull-right marginBottom10" href="{{url_for('morenews')}}">read more</a> 
                 </div>
               <div class="col-md-12 gap10"></div>
             </div>
</div>

{% endblock%}