{% extends "theme.html"%}


{% block content%}

	<h1>Hi , {{current_user.username}}<h1>

	{% if form %}
		<form method="post" action="">
			{{ form.hidden_tag() }}
			<p>
				{{form.post.label}}<br>
				{{form.post(cols=50 , rows=4)}}<br>
				{% for error in form.post.errors %}
					<span style="color:red ;">[ {{error}} ]</span>
				{% endfor %}
			</p>
			<p>{{form. submit()}}</p>
		</form>
	{% endif %}

	{%for post in posts %}
		{% include '_post.html' %}
	{%endfor%}

	{% if prev_url %}
		<a href="{{prev_url}}">previous_page</a>
	{% endif %}
	{% if next_url %}
		<a href="{{next_url}}">next_page</a>
	{% endif %}

{% endblock %}