{% extends "theme.html" %}

{% block app_content%}

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

	{%for mentor in mentors%}
			<div class="card">
			  <img src="../static/images/views.jpeg" alt="img" style="width:100%">
			  <h1>{{mentor}}</h1>
			  <p>Some text about the mentor..</p>
			  <p><a href="{{url_for('user' ,username=mentor)}} " class="btn btn-default btn-block" role="button">Profile</a></p>
			</div>
	{% endfor %}

{% endblock%}
