{% extends "theme.html" %}

{% block app_content%}

<!-- for story posting -->
    {% if form %}
        <form method="post">
            {{ form.hidden_tag() }}
            {{form.story(class="summernote")}}
            {{form.submit(class="btn btn-default")}}
        </form>

        <br><br>
    {% endif %}

<!-- list of posts -->
	{%for post in posts %}
		{% include '_post.html' %}
	{%endfor%}

	<nav >
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>previous page
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <i class="far fa-arrow-alt-circle-right"></i><span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>


  <script>
    $(document).ready(function() {
        $('.summernote').summernote();
    });
  </script>
{% endblock%}