{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}{{title}} - blog{% else %}Welcome to blog{% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fontawesome_css() }}
    <link href="/static/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
    <script defer src="/static/fontawesome-free-5.12.1-web/js/all.js"></script>
{% endblock %}

{% block navbar %}

	<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">StartupMinds</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('stories') }}">Stories</a></li>
                    <li><a href="{{url_for('news')}}">News</a></li>
                    {% if current_user.user_category == "entreprenuer" %}
                    <li><a href="{{url_for('mentors')}}">Mentors</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{url_for('messages')}}"><i class="fas fa-envelope"></i>  Messages</a></li>
                    <li><a href="{{ url_for('user', username=current_user.username) }}"><i class="fas fa-user-circle"></i> Profile</a></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
    
{% block body %}
    {{ super() }}
    {{ fontawesome_js() }}
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages()%}
			{% if messages %}
				{% for message in messages%}
					<div class="alert-info" role="alert">{{message}}</div>
				{% endfor%}
			{% endif%}
		{% endwith%}

		{% block app_content %} 

        {% endblock %}
	</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}