
{% extends "theme.html" %}

{% block app_content%}

	<table>
		<tr valign="top">
			<td><img src="{{user.avatar(128)}}"></td>
			<td>
				<h1>User :{{user.username}} {{user.user_category}}</h1>
				{% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
				{%if user.last_seen %}<p>Last seen on: {{user.last_seen}}</p> {% endif %}
				{% if user == current_user %}
					<p><a role="button" class="btn btn-default" href="{{url_for('editprofile')}}">Edit Profile</a></p>
				{% elif not current_user.is_following(user) %}
					<p><a href="{{url_for('follow',username=user.username)}}" class="btn btn-default" role="button">Follow</a></p>
				{% else %}
					<p><a href="{{url_for('unfollow' , username=user.username)}}" role="button" class="btn btn-default">Unfollow</a></p>
				{% endif%}
			</td>
		</tr>
	</table>

{% endblock%}


